@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
:root {
  --dark: #120D31;
  --light: #E4FDE1;
  --primary: #5A83AF;
  --secondary: #F45B69;
  --tertiary: #F0D3F7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  font-family: 'Space Mono', monospace;
}

#calculator {
  width: 270px;
  height: 400px;
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  background: var(--dark);
  gap: 8px;
}

#display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
  height: 15%;
  background: var(--light);
  color: var(--dark);
  font-weight: normal;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

button {
  width: calc(25% - 8px);
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  background: var(--primary);
  color: var(--dark);
  font: inherit;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

#equals {
  width: 50%;
  aspect-ratio: 2;
  border-radius: 0;
  background: var(--light);
  margin-left: auto;
}

#clear {
  background: var(--secondary);
}

.operator {
  background: var(--tertiary);
}


